@model Acme.VendingMachine.Model.Machine

<div class="row">
    <h3 class="col-sm-10">Display</h3>

    <div>
        @Html.TextAreaFor(m => m.DisplayMessage, 3, 32, new { @class = "col-sm-10" })
    </div>
</div>
