<div class="row">
    <form asp-controller="Machine" asp-action="Process7"><input type="submit" value="7" class="col-sm-2 btn-primary" /></form>
    <form asp-controller="Machine" asp-action="Process8"><input type="submit" value="8" class="col-sm-2 btn-primary" /></form>
    <form asp-controller="Machine" asp-action="Process9"><input type="submit" value="9" class="col-sm-2 btn-primary" /></form>
    <form asp-controller="Machine" asp-action="ProcessDel"><input type="submit" value="Del" class="col-sm-4 btn-warning" /></form>
</div>
<div class="row">
    <form asp-controller="Machine" asp-action="Process4"><input type="submit" value="4" class="col-sm-2 btn-primary" /></form>
    <form asp-controller="Machine" asp-action="Process5"><input type="submit" value="5" class="col-sm-2 btn-primary" /></form>
    <form asp-controller="Machine" asp-action="Process6"><input type="submit" value="6" class="col-sm-2 btn-primary" /></form>
    <form asp-controller="Machine" asp-action="ProcessClear"><input type="submit" value="Clear" class="col-sm-4 btn-warning" /></form>
</div>
<div class="row">
    <form asp-controller="Machine" asp-action="Process1"><input type="submit" value="1" class="col-sm-2 btn-primary" /></form>
    <form asp-controller="Machine" asp-action="Process2"><input type="submit" value="2" class="col-sm-2 btn-primary" /></form>
    <form asp-controller="Machine" asp-action="Process3"><input type="submit" value="3" class="col-sm-2 btn-primary" /></form>
    <form asp-controller="Machine" asp-action="ProcessCancel"><input type="submit" value="Cancel" class="col-sm-4 btn-danger" /></form>
</div>
<div class="row">
    <form asp-controller="Machine" asp-action="Process0"><input type="submit" value="0" class="col-sm-6 btn-primary" /></form>
    @*<form asp-controller="Machine" asp-action="ProcessDot"><input type="submit" value="." class="col-sm-2 btn-primary" /></form>*@
    <form id="okForm" asp-controller="Machine" asp-action="ProcessDone"><input type="submit" value="OK" class="col-sm-4 btn-success" /></form>
</div>
