@model Acme.VendingMachine.Model.Machine

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        @await Html.PartialAsync("_ProductCatalogPartial", Model.Products)
    </div>
    <div class="col-sm-6">
        @await Html.PartialAsync("_DisplayPartial", Model)
        <partial name="_NumPadPartial" />
    </div>
</div>
