@model Acme.VendingMachine.Model.Machine

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        @await Html.PartialAsync("_ProductCatalogPartial", Model.Products)
    </div>
    <div class="col-sm-6">
        @await Html.PartialAsync("_DisplayPartial", Model)
        <partial name="_NumPadPartial" />
        <if include-if="@(Model.State == Acme.VendingMachine.Model.MachineState.CollectCash)">
            @await Html.PartialAsync("_CashCollectorPartial", Model.CashReceived.CashSets)
        </if>
    </div>
</div>
