@model IEnumerable<Acme.VendingMachine.Model.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-8">
        <vc:product-catalog></vc:product-catalog>
    </div>
    <div class="col-sm-4">
        <vc:display></vc:display>
        NumPad below
    </div>
</div>
